{% extends 'root.html' %} {% block aside %}
<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3">
    <a class="nav-link" href="/users">All Users</a>
    <a class="nav-link" href="/users/new">Add user</a>
  </div>
</div>
{% endblock %} {% block main %}
<div>
  <h1>Users</h1>
  
  {% if users %}
    <ul>
      {% for user in users %}
        <li><a href="/users/{{user.id}}"">{{ user.first_name }} {{ user.last_name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <div>No users to display</div>
  {% endif %}
  

</div>
{% endblock %}
