{% extends 'root.html' %} {% block aside %}
<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3">
    <a class="nav-link" href="/users">Users</a>
    <a class="nav-link" href="/users/new">Add user</a>
    <a class="nav-link" href="/tags">Tags</a>
  </div>
</div>
{% endblock %} {% block main %}
<div>
  <h1>Tags</h1>
  
  {% if tags %}
    <ul>
      {% for tag in tags %}
        <li><a href="/tags/{{tag.id}}"">{{ tag.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <div>No tags to display</div>
  {% endif %}
  <a class="btn btn-primary" href="/tags/new">Add Tag</a>
  

</div>
{% endblock %}
